@model JobSeekerMiniProject.Models.JobSeekerViewmodel
@{
    ViewData["Title"] = "Job Seeker";
}

<h1>Fill in the form</h1>

<form id="JobSeeker" asp-controller="JobSeeker" asp-action="SubmitJobSeekerDetail" method="post">

    @if (@TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    @if (@TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    <div class="form-group form-inline">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" type="text" placeholder="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group form-inline">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="text" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group form-inline">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" type="text" placeholder="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group form-inline">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" type="text" placeholder="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group form-inline">
        <label asp-for="Skills"></label>
        <input asp-for="Skills" class="form-control" type="text" placeholder="List your all your skills here" />
        <span asp-validation-for="Skills" class="text-danger"></span>
    </div>

    <div class="form-group form-inline">
        <button id="submit" class="btn-primary" type="submit" action="Submit">Submit</button>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
